<%- include('./includes/head.ejs') %>
    <title><%= pageTitle %> </title>
</head>
<body>
    <%- include('./includes/menu.ejs') %> 
       
    <div class="ui segment">
        <h2 class="ui header"><%= pageTitle %></h2>
            <button onclick="loadData()">Load Chat</button><br>
            <button onclick="chatlist()">click</button><br>
            <span class="loading" ></span>
    </div>
    
    <script>
        function chatlist(){
            let data = JSON.parse(localStorage.getItem('chatdata')).data;
            const chat1={};
            
            for(var i of data){
                chat1[i.senderId] = [];
            }

            for(var i of data){
                chat1[i.senderId].push(i);
            }
            
            console.log(chat1);
        }
        function loadData(){
            $(".loading").text('Loading ...');
            // return;
            $.ajax({
                type: "POST",
                url: "/load-chat",
                data: {'epmt':'emppty'},
                dataType: 'json',
                contentType: 'application/json',
                success: function(data) {
                    console.log(data);
                    localStorage.setItem('chatdata',JSON.stringify(data))
                    $(".loading").text('Done');

                },
                error: function() {
                    $(".loading").text('Error occured');
                    console.log('ajax error');
                }
            });
        }
    </script>
</body>  
</html>