<%- include('./includes/head.ejs') %>
<title><%= pageTitle %> </title>
</head>
<body>
<%- include('./includes/menu.ejs') %> 
   
<div class="ui segment">
    <h2 class="ui header"><%= pageTitle %></h2>
    <hr>
    <div id="row">
    </div>

    <script>
      let data = JSON.parse(localStorage.getItem('alldata'));
      const orders = data.orders;

      for( let i of orders){
        var row = `
        <div class='ui icon message'>
            <div class="content">
              <div class="header">
                ${i.title}
              </div>
            </div>
        </div>`;
        document.getElementById('row').insertAdjacentHTML('beforeend', row);
      }
    </script>
    
</div>

</body>  
</html>