<%- include('./includes/head.ejs') %>
<title><%= pageTitle %> </title>
</head>
<body>
<%- include('./includes/menu.ejs') %> 
   
<div class="ui segment">
    <h2 class="ui header"><%= pageTitle %></h2>
    <hr>



    <script>
      let data = JSON.parse(localStorage.getItem('alldata'));
      const providerInfo = data.providerInfo;
      const provider = data.providers;


      console.log(provider)


    


  // for( let i of data){
  //   console.log(i.uname+" "+i.pass)
  // }
  
    </script>
    
</div>

</body>  
</html>